@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

header {
  height: 720px;
  margin-bottom: 100px;
  background: url("../image/background.png") center/cover no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 50px;
  color: #fff;
}

.logo {
  font-weight: 400;
  font-size: 33.18px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #295943;
}

.active {
  color: #295943;
}

.select-id {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.select-id span {
  display: flex;
}

.select-icon {
  cursor: pointer;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(720px - 98px);
  color: #fff;
}

.wrapper {
  max-width: 780px;
}

.wrapper h2 {
  font-weight: 400;
  font-size: 47.78px;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 65px;
}

.wrapper form {
  padding: 9px 11px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 7px #444444;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}

.input-form {
  display: flex;
  width: 485px;
}

.input-form input {
  font-weight: 400;
  padding: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #3d3e48;
  border: 0;
  outline: 0;
}

.input-form input:not(:first-of-type) {
  border-left: 1px solid #3d3e48;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  background: #43b97f;
  border-radius: 10px;
  outline: 0;
  border: 0;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

form button:hover {
  transform: scaleX(1.05);
}

main .points {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 100px;
}

main .points .points-imgs {
  display: flex;
}

main .points .points-imgs .points-img:nth-child(2) {
  display: flex;
  align-items: flex-end;
  margin-left: -10px;
  margin-right: -70px;
}

.points-content .points-text span {
  font-weight: 700;
  font-size: 16px;
  color: #295943;
  margin-bottom: 10px;
  padding: 10px;
}

.points-content .points-text h3 {
  font-weight: 700;
  font-size: 27.65px;
  color: #3d3e48;
  margin-bottom: 10px;
  padding: 10px;
}

.points-content .points-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #3d3e48;
  margin-bottom: 20px;
  padding: 10px;
}

.points-info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 10px;
}

.points-info .info-item {
  width: 50%;
}

.points-info .info-item p {
  font-weight: 400;
  font-size: 16px;
  color: #3d3e48;
}

.points-info .info-item span {
  font-weight: 700;
  font-size: 27.65px;
  color: #295943;
  margin-bottom: 5px;
}

.discover-title {
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #295943;
  text-align: center;
}

.discover-title-main {
  font-weight: 700;
  font-size: 27.65px;
  line-height: 120%;
  color: #295943;
  text-align: center;
  margin-bottom: 50px;
}

.discover-main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}

.discover-card {
  padding: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 15px #999999;
  border-radius: 10px;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  font-weight: 700;
  font-size: 19.2px;
  color: #3d3e48;
  margin-bottom: 22px;
}

.card-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info p:first-child {
  font-weight: 700;
  font-size: 16px;
  color: #295943;
}

.card-info p:last-child {
  font-weight: 400;
  font-size: 14px;
  color: #3d3e48;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
